.THIS.memberInterventionWrapper .width90{
	width: 90%;
}

.THIS.memberInterventionWrapper .paginate{
    text-align:right;
    }

.THIS.memberInterventionWrapper .spacing{
    margin:0px 10px;
    }
.THIS.memberInterventionWrapper .footer{
    margin-top:25px;
}